<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>gdcmCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gdcmDICT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>gdcmDSED.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gdcmIOD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>gdcmMEXD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gdcmMSFF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gdcmcharls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>gdcmexpat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>gdcmjpeg12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gdcmjpeg16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gdcmjpeg8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>gdcmopenjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>gdcmuuid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gdcmzlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>socketxx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041185DB5CEB41BD86A40362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102D8B74B794401B8AA8BFA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B8DF89778C4B9D81C50BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B035997073143A0B60EFC78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D508C50E3444F5483CDE82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B34C511290E4A6180014082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5755F2EA557E4E958A509018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64932258BA05453E8E7B155A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E0F7E0A7594D5E9AC69F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>990B0CB33AE144DCB14D11F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2235D07AE945EDB273318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B72FAD37061C46F29C92CEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CC321C124C4C689685979F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCA260F9A3B04320A94116BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2604A92D1644A1190E768B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6E8C50E28994E2191880FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1459F0716E144C7B7155A7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96E4CBB05944F0C8C32A034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9C817FAE6940B3B428D0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
